<%include head%>
<%include navigator%>

 <div id="page">
		<div id="content">
			<div class="box">
				<h2>about page</h2>

<h3>Username : <%= mycookie.unm %></h3>
<h3>Password : <%= mycookie.pass %></h3>

			</div>
			
			<br class="clearfix" />
		</div>
            
		<div id="sidebar">
			<div class="box">
				<h3>socail contacts</h3>
				<ul class="list">
					<li class="first"><a href="#">facebook</a></li>
					<li><a href="#">twitter</a></li>
					<li><a href="#">blogs</a></li>
					<li><a href="#">instagram</a></li>
					<li class="last"><a href="#">snapchat</a></li>
				</ul>
			</div>
		
		</div>
		<br class="clearfix" />
	</div>
    
</div>
<%include footer%>
