<%include head%>
<%include navigator%>   
 <div id="page">
		<div id="content">
			<div class="box">
				<h2>Contact Us</h2>
				Enter name : <input type="text" id="t3"><br>
                                Enter email : <input type="email" id="t4"><br>
                                <textarea rows="6" cols="32" name="message" placeholder="Enter your message here"></textarea>
                                <br><input type="submit" id="s3">
			</div>
			
			<br class="clearfix" />
		</div>
            
		<div id="sidebar">
			<div class="box">
				<h3>socail contacts</h3>
				<ul class="list">
					<li class="first"><a href="#">facebook</a></li>
					<li><a href="#">twitter</a></li>
					<li><a href="#">blogs</a></li>
					<li><a href="#">instagram</a></li>
					<li class="last"><a href="#">snapchat</a></li>
				</ul>
			</div>
		
		</div>
		<br class="clearfix" />
	</div>
    
</div>
<%include footer%>