<%include head %>
<%include usernavigator%>

    <div id="page">
<center>
				<h2>Welcome To PostKrde User panel</h2>
		
<h3>User : <%= myuser %></h3>
		
	<center>
    
</div>
<%include footer%>
